body{
    background-color: blanchedalmond;
}
.vista{
    position: absolute;
    z-index:9995;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}
p{
    text-align: center;
}

#contenedor{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
h1{
    font-family: monospace;
    font-style: oblique;
    font-size: 4em;
    text-align: center;
}

#backlog,#sprint,#backlogSprint{
    padding:5px;
    margin:10px;
    width:30%;
    display:block;
    float:left;
    border:5px solid darkgoldenrod;
    box-shadow: 10px 5px 5px grey;
}
#backlog > h2,#sprint > h2,#backlogSprint > h2{
    font-family: sans-serif;
    color:coral;
}

#backlog{
    background-color:bisque;
    
}

.historia{
    background-color:beige;
    margin-bottom: 7px;
    padding:15px;
    border:1px double brown;
    word-break: break-all;
    text-align: center;
}

ul > li{
    font-style: bold;
    font-family: arial;
}
    
h2{
    text-align: center;
        
}
ul{
    padding:5px;
    
}
li{
    list-style-type:none;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    padding:5px;
        
}
#sprint{
    background-color:burlywood;
}

#sprint > .sprint{
    background-color: darkred;
    padding:2px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    border:3px solid red;
    margin-bottom: 2px;
    
}


/*========================== INPUTS =============================*/


.nueva_historia, .nuevo_sprint{
    display: none;   
    position: absolute;
    z-index:9999;
    top: 20%;
    width: 20%;
    left: 29%;
    padding:0px;
    padding-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid coral;
    background-color:darksalmon;
    box-shadow:10px 5px 5px grey;
    border-radius: 5px 10px;
}
.nuevo_sprint{
    left: 20%;
    
}
h2{
    padding:3px;
}

.historia > button{
    float:right;
    margin-right:3px;
}

#inputs_nueva_historia, #input_nuevo_sprint{
    width: 270px;
    margin-left:10%;
    padding:5px;
    padding-top:0px;  
}

#inputs_nueva_historia > h2, #input_nuevo_sprint > h2{
    font-family: monospace;
    color:firebrick;
}

input, textArea{
    padding:5px;
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    color:green;
    margin-top: 5px;
    margin-bottom: 5px;
}
#btn_cancelar_historia{
    color:red;
}
textArea{
    width:250px;
    height:60px;
}

#input_nuevo_sprint{
    font-family: monospace;
}


